@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14287323');
  src: url('../font/fontello.eot?14287323#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?14287323') format('woff'),
       url('../font/fontello.ttf?14287323') format('truetype'),
       url('../font/fontello.svg?14287323#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14287323#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cog-alt:before { content: '\ea3c'; } /* '' */
.icon-accessibility:before { content: '\e8e2'; } /* '' */
.icon-note:before { content: '\ea37'; } /* '' */
.icon-note-beamed:before { content: '\e91c'; } /* '' */
.icon-music:before { content: '\e91d'; } /* '' */
.icon-search-1:before { content: '\e91e'; } /* '' */
.icon-flashlight:before { content: '\e91f'; } /* '' */
.icon-mail-3:before { content: '\e920'; } /* '' */
.icon-heart-2:before { content: '\e921'; } /* '' */
.icon-heart-empty:before { content: '\e922'; } /* '' */
.icon-star-2:before { content: '\e923'; } /* '' */
.icon-star-empty-1:before { content: '\e924'; } /* '' */
.icon-user-2:before { content: '\e925'; } /* '' */
.icon-users-1:before { content: '\e926'; } /* '' */
.icon-user-add:before { content: '\e927'; } /* '' */
.icon-video-1:before { content: '\e928'; } /* '' */
.icon-picture-1:before { content: '\e929'; } /* '' */
.icon-camera-3:before { content: '\e92a'; } /* '' */
.icon-layout:before { content: '\e92b'; } /* '' */
.icon-menu:before { content: '\e92c'; } /* '' */
.icon-check-1:before { content: '\e92d'; } /* '' */
.icon-cancel-2:before { content: '\e92e'; } /* '' */
.icon-cancel-circled:before { content: '\e92f'; } /* '' */
.icon-cancel-squared:before { content: '\e930'; } /* '' */
.icon-plus-2:before { content: '\e931'; } /* '' */
.icon-plus-circled:before { content: '\e932'; } /* '' */
.icon-plus-squared:before { content: '\e933'; } /* '' */
.icon-minus-1:before { content: '\e934'; } /* '' */
.icon-minus-circled:before { content: '\e935'; } /* '' */
.icon-minus-squared:before { content: '\e936'; } /* '' */
.icon-help-1:before { content: '\e937'; } /* '' */
.icon-help-circled:before { content: '\e938'; } /* '' */
.icon-info:before { content: '\e939'; } /* '' */
.icon-info-circled:before { content: '\e93a'; } /* '' */
.icon-back:before { content: '\e93b'; } /* '' */
.icon-home-1:before { content: '\e93c'; } /* '' */
.icon-link:before { content: '\e93d'; } /* '' */
.icon-attach-1:before { content: '\e93e'; } /* '' */
.icon-lock-2:before { content: '\e93f'; } /* '' */
.icon-lock-open-2:before { content: '\e940'; } /* '' */
.icon-eye-2:before { content: '\e941'; } /* '' */
.icon-tag-2:before { content: '\e942'; } /* '' */
.icon-bookmark-1:before { content: '\e943'; } /* '' */
.icon-bookmarks:before { content: '\e944'; } /* '' */
.icon-flag-1:before { content: '\e945'; } /* '' */
.icon-thumbs-up-1:before { content: '\e946'; } /* '' */
.icon-thumbs-down-1:before { content: '\e947'; } /* '' */
.icon-download:before { content: '\e948'; } /* '' */
.icon-upload:before { content: '\e949'; } /* '' */
.icon-upload-cloud:before { content: '\e94a'; } /* '' */
.icon-reply:before { content: '\e94b'; } /* '' */
.icon-reply-all:before { content: '\e94c'; } /* '' */
.icon-forward:before { content: '\e94d'; } /* '' */
.icon-quote:before { content: '\e94e'; } /* '' */
.icon-code:before { content: '\e94f'; } /* '' */
.icon-export-2:before { content: '\e950'; } /* '' */
.icon-pencil-1:before { content: '\e951'; } /* '' */
.icon-feather:before { content: '\e952'; } /* '' */
.icon-print-1:before { content: '\e953'; } /* '' */
.icon-retweet:before { content: '\e954'; } /* '' */
.icon-keyboard:before { content: '\e955'; } /* '' */
.icon-comment-1:before { content: '\e956'; } /* '' */
.icon-chat:before { content: '\e957'; } /* '' */
.icon-bell-1:before { content: '\e958'; } /* '' */
.icon-attention:before { content: '\e959'; } /* '' */
.icon-alert:before { content: '\e95a'; } /* '' */
.icon-vcard:before { content: '\e95b'; } /* '' */
.icon-address:before { content: '\e95c'; } /* '' */
.icon-location-1:before { content: '\e95d'; } /* '' */
.icon-map:before { content: '\e95e'; } /* '' */
.icon-direction:before { content: '\e95f'; } /* '' */
.icon-compass:before { content: '\e960'; } /* '' */
.icon-cup:before { content: '\e961'; } /* '' */
.icon-trash-1:before { content: '\e962'; } /* '' */
.icon-doc-1:before { content: '\e963'; } /* '' */
.icon-docs:before { content: '\e964'; } /* '' */
.icon-doc-landscape:before { content: '\e965'; } /* '' */
.icon-doc-text:before { content: '\e966'; } /* '' */
.icon-doc-text-inv:before { content: '\e967'; } /* '' */
.icon-newspaper:before { content: '\e968'; } /* '' */
.icon-book-open:before { content: '\e969'; } /* '' */
.icon-book-1:before { content: '\e96a'; } /* '' */
.icon-folder-1:before { content: '\e96b'; } /* '' */
.icon-archive:before { content: '\e96c'; } /* '' */
.icon-box:before { content: '\e96d'; } /* '' */
.icon-rss-1:before { content: '\e96e'; } /* '' */
.icon-phone-1:before { content: '\e96f'; } /* '' */
.icon-cog-1:before { content: '\e970'; } /* '' */
.icon-tools:before { content: '\e971'; } /* '' */
.icon-share-1:before { content: '\e972'; } /* '' */
.icon-shareable:before { content: '\e973'; } /* '' */
.icon-basket-2:before { content: '\e974'; } /* '' */
.icon-bag:before { content: '\e975'; } /* '' */
.icon-calendar-2:before { content: '\e976'; } /* '' */
.icon-login-1:before { content: '\e977'; } /* '' */
.icon-logout:before { content: '\e978'; } /* '' */
.icon-mic-1:before { content: '\e979'; } /* '' */
.icon-mute:before { content: '\e97a'; } /* '' */
.icon-sound:before { content: '\e97b'; } /* '' */
.icon-volume-1:before { content: '\e97c'; } /* '' */
.icon-clock:before { content: '\e97d'; } /* '' */
.icon-hourglass:before { content: '\e97e'; } /* '' */
.icon-lamp:before { content: '\e97f'; } /* '' */
.icon-light-down:before { content: '\e980'; } /* '' */
.icon-light-up:before { content: '\e981'; } /* '' */
.icon-adjust-1:before { content: '\e982'; } /* '' */
.icon-block:before { content: '\e983'; } /* '' */
.icon-resize-full-1:before { content: '\e984'; } /* '' */
.icon-resize-small-1:before { content: '\e985'; } /* '' */
.icon-popup-1:before { content: '\e986'; } /* '' */
.icon-publish:before { content: '\e987'; } /* '' */
.icon-window:before { content: '\e988'; } /* '' */
.icon-arrow-combo:before { content: '\e989'; } /* '' */
.icon-down-circled:before { content: '\e98a'; } /* '' */
.icon-left-circled:before { content: '\e98b'; } /* '' */
.icon-right-circled:before { content: '\e98c'; } /* '' */
.icon-up-circled:before { content: '\e98d'; } /* '' */
.icon-down-open-1:before { content: '\e98e'; } /* '' */
.icon-left-open-1:before { content: '\e98f'; } /* '' */
.icon-right-open-1:before { content: '\e990'; } /* '' */
.icon-up-open-1:before { content: '\e991'; } /* '' */
.icon-down-open-mini:before { content: '\e992'; } /* '' */
.icon-left-open-mini:before { content: '\e993'; } /* '' */
.icon-right-open-mini:before { content: '\e994'; } /* '' */
.icon-up-open-mini:before { content: '\e995'; } /* '' */
.icon-down-open-big:before { content: '\e996'; } /* '' */
.icon-left-open-big:before { content: '\e997'; } /* '' */
.icon-right-open-big:before { content: '\e998'; } /* '' */
.icon-up-open-big:before { content: '\e999'; } /* '' */
.icon-down-1:before { content: '\e99a'; } /* '' */
.icon-left-1:before { content: '\e99b'; } /* '' */
.icon-right-1:before { content: '\e99c'; } /* '' */
.icon-up-1:before { content: '\e99d'; } /* '' */
.icon-down-dir:before { content: '\e99e'; } /* '' */
.icon-left-dir:before { content: '\e99f'; } /* '' */
.icon-right-dir:before { content: '\e9a0'; } /* '' */
.icon-up-dir:before { content: '\e9a1'; } /* '' */
.icon-down-bold:before { content: '\e9a2'; } /* '' */
.icon-left-bold:before { content: '\e9a3'; } /* '' */
.icon-right-bold:before { content: '\e9a4'; } /* '' */
.icon-up-bold:before { content: '\e9a5'; } /* '' */
.icon-down-thin:before { content: '\e9a6'; } /* '' */
.icon-left-thin:before { content: '\e9a7'; } /* '' */
.icon-right-thin:before { content: '\e9a8'; } /* '' */
.icon-up-thin:before { content: '\e9a9'; } /* '' */
.icon-ccw:before { content: '\e9aa'; } /* '' */
.icon-cw-1:before { content: '\e9ab'; } /* '' */
.icon-arrows-ccw:before { content: '\e9ac'; } /* '' */
.icon-level-down:before { content: '\e9ad'; } /* '' */
.icon-level-up:before { content: '\e9ae'; } /* '' */
.icon-shuffle-1:before { content: '\e9af'; } /* '' */
.icon-loop:before { content: '\e9b0'; } /* '' */
.icon-switch:before { content: '\e9b1'; } /* '' */
.icon-play-1:before { content: '\e9b2'; } /* '' */
.icon-stop:before { content: '\e9b3'; } /* '' */
.icon-pause:before { content: '\e9b4'; } /* '' */
.icon-record:before { content: '\e9b5'; } /* '' */
.icon-to-end:before { content: '\e9b6'; } /* '' */
.icon-to-start:before { content: '\e9b7'; } /* '' */
.icon-fast-forward:before { content: '\e9b8'; } /* '' */
.icon-fast-backward:before { content: '\e9b9'; } /* '' */
.icon-progress-0:before { content: '\e9ba'; } /* '' */
.icon-progress-1:before { content: '\e9bb'; } /* '' */
.icon-progress-2:before { content: '\e9bc'; } /* '' */
.icon-progress-3:before { content: '\e9bd'; } /* '' */
.icon-target:before { content: '\e9be'; } /* '' */
.icon-palette:before { content: '\e9bf'; } /* '' */
.icon-list-1:before { content: '\e9c0'; } /* '' */
.icon-list-add:before { content: '\e9c1'; } /* '' */
.icon-signal-1:before { content: '\e9c2'; } /* '' */
.icon-trophy:before { content: '\e9c3'; } /* '' */
.icon-battery:before { content: '\e9c4'; } /* '' */
.icon-back-in-time:before { content: '\e9c5'; } /* '' */
.icon-monitor-1:before { content: '\e9c6'; } /* '' */
.icon-mobile-2:before { content: '\e9c7'; } /* '' */
.icon-network-1:before { content: '\e9c8'; } /* '' */
.icon-cd-1:before { content: '\e9c9'; } /* '' */
.icon-inbox-1:before { content: '\e9ca'; } /* '' */
.icon-install:before { content: '\e9cb'; } /* '' */
.icon-globe:before { content: '\e9cc'; } /* '' */
.icon-cloud-1:before { content: '\e9cd'; } /* '' */
.icon-cloud-thunder:before { content: '\e9ce'; } /* '' */
.icon-flash:before { content: '\e9cf'; } /* '' */
.icon-moon:before { content: '\e9d0'; } /* '' */
.icon-flight-1:before { content: '\e9d1'; } /* '' */
.icon-paper-plane:before { content: '\e9d2'; } /* '' */
.icon-leaf-1:before { content: '\e9d3'; } /* '' */
.icon-lifebuoy:before { content: '\e9d4'; } /* '' */
.icon-mouse:before { content: '\e9d5'; } /* '' */
.icon-briefcase-1:before { content: '\e9d6'; } /* '' */
.icon-suitcase:before { content: '\e9d7'; } /* '' */
.icon-dot:before { content: '\e9d8'; } /* '' */
.icon-dot-2:before { content: '\e9d9'; } /* '' */
.icon-dot-3:before { content: '\e9da'; } /* '' */
.icon-brush:before { content: '\e9db'; } /* '' */
.icon-magnet:before { content: '\e9dc'; } /* '' */
.icon-infinity:before { content: '\e9dd'; } /* '' */
.icon-erase:before { content: '\e9de'; } /* '' */
.icon-chart-pie-1:before { content: '\e9df'; } /* '' */
.icon-chart-line:before { content: '\e9e0'; } /* '' */
.icon-chart-bar-1:before { content: '\e9e1'; } /* '' */
.icon-chart-area:before { content: '\e9e2'; } /* '' */
.icon-tape:before { content: '\e9e3'; } /* '' */
.icon-graduation-cap:before { content: '\e9e4'; } /* '' */
.icon-language:before { content: '\e9e5'; } /* '' */
.icon-ticket:before { content: '\e9e6'; } /* '' */
.icon-water:before { content: '\e9e7'; } /* '' */
.icon-droplet:before { content: '\e9e8'; } /* '' */
.icon-air:before { content: '\e9e9'; } /* '' */
.icon-credit-card-2:before { content: '\e9ea'; } /* '' */
.icon-floppy:before { content: '\e9eb'; } /* '' */
.icon-clipboard-1:before { content: '\e9ec'; } /* '' */
.icon-megaphone-1:before { content: '\e9ed'; } /* '' */
.icon-database:before { content: '\e9ee'; } /* '' */
.icon-drive:before { content: '\e9ef'; } /* '' */
.icon-bucket:before { content: '\e9f0'; } /* '' */
.icon-thermometer:before { content: '\e9f1'; } /* '' */
.icon-key-1:before { content: '\e9f2'; } /* '' */
.icon-flow-cascade:before { content: '\e9f3'; } /* '' */
.icon-flow-branch:before { content: '\e9f4'; } /* '' */
.icon-flow-tree:before { content: '\e9f5'; } /* '' */
.icon-flow-line:before { content: '\e9f6'; } /* '' */
.icon-flow-parallel:before { content: '\e9f7'; } /* '' */
.icon-rocket:before { content: '\e9f8'; } /* '' */
.icon-gauge-1:before { content: '\e9f9'; } /* '' */
.icon-traffic-cone:before { content: '\e9fa'; } /* '' */
.icon-cc-1:before { content: '\e9fb'; } /* '' */
.icon-cc-by:before { content: '\e9fc'; } /* '' */
.icon-cc-nc:before { content: '\e9fd'; } /* '' */
.icon-cc-nc-eu:before { content: '\e9fe'; } /* '' */
.icon-cc-nc-jp:before { content: '\e9ff'; } /* '' */
.icon-cc-sa:before { content: '\ea00'; } /* '' */
.icon-cc-nd:before { content: '\ea01'; } /* '' */
.icon-cc-pd:before { content: '\ea02'; } /* '' */
.icon-cc-zero:before { content: '\ea03'; } /* '' */
.icon-cc-share:before { content: '\ea04'; } /* '' */
.icon-cc-remix:before { content: '\ea05'; } /* '' */
.icon-github-1:before { content: '\ea06'; } /* '' */
.icon-github-circled-1:before { content: '\ea07'; } /* '' */
.icon-flickr-1:before { content: '\ea08'; } /* '' */
.icon-flickr-circled:before { content: '\ea09'; } /* '' */
.icon-vimeo-1:before { content: '\ea0a'; } /* '' */
.icon-vimeo-circled:before { content: '\ea0b'; } /* '' */
.icon-twitter-1:before { content: '\ea0c'; } /* '' */
.icon-twitter-circled:before { content: '\ea0d'; } /* '' */
.icon-facebook-1:before { content: '\ea0e'; } /* '' */
.icon-facebook-circled:before { content: '\ea0f'; } /* '' */
.icon-facebook-squared:before { content: '\ea10'; } /* '' */
.icon-gplus-1:before { content: '\ea11'; } /* '' */
.icon-gplus-circled:before { content: '\ea12'; } /* '' */
.icon-pinterest-1:before { content: '\ea13'; } /* '' */
.icon-pinterest-circled:before { content: '\ea14'; } /* '' */
.icon-tumblr-1:before { content: '\ea15'; } /* '' */
.icon-tumblr-circled:before { content: '\ea16'; } /* '' */
.icon-linkedin-1:before { content: '\ea17'; } /* '' */
.icon-linkedin-circled:before { content: '\ea18'; } /* '' */
.icon-dribbble-1:before { content: '\ea19'; } /* '' */
.icon-dribbble-circled:before { content: '\ea1a'; } /* '' */
.icon-stumbleupon-1:before { content: '\ea1b'; } /* '' */
.icon-stumbleupon-circled:before { content: '\ea1c'; } /* '' */
.icon-lastfm-1:before { content: '\ea1d'; } /* '' */
.icon-lastfm-circled:before { content: '\ea1e'; } /* '' */
.icon-rdio:before { content: '\ea1f'; } /* '' */
.icon-rdio-circled:before { content: '\ea20'; } /* '' */
.icon-spotify-1:before { content: '\ea21'; } /* '' */
.icon-spotify-circled:before { content: '\ea22'; } /* '' */
.icon-qq:before { content: '\ea23'; } /* '' */
.icon-instagram-1:before { content: '\ea24'; } /* '' */
.icon-dropbox-1:before { content: '\ea25'; } /* '' */
.icon-evernote-1:before { content: '\ea26'; } /* '' */
.icon-flattr-1:before { content: '\ea27'; } /* '' */
.icon-skype-1:before { content: '\ea28'; } /* '' */
.icon-skype-circled:before { content: '\ea29'; } /* '' */
.icon-renren:before { content: '\ea2a'; } /* '' */
.icon-sina-weibo:before { content: '\ea2b'; } /* '' */
.icon-paypal-1:before { content: '\ea2c'; } /* '' */
.icon-picasa:before { content: '\ea2d'; } /* '' */
.icon-soundcloud-1:before { content: '\ea2e'; } /* '' */
.icon-mixi:before { content: '\ea2f'; } /* '' */
.icon-behance:before { content: '\ea30'; } /* '' */
.icon-google-circles:before { content: '\ea31'; } /* '' */
.icon-vkontakte:before { content: '\ea32'; } /* '' */
.icon-smashing:before { content: '\ea33'; } /* '' */
.icon-sweden:before { content: '\ea34'; } /* '' */
.icon-db-shape:before { content: '\ea35'; } /* '' */
.icon-logo-db:before { content: '\ea36'; } /* '' */
.icon-cloud-2:before { content: '\ea3a'; } /* '' */
.icon-search:before { content: '\e901'; } /* '' */
.icon-mail-2:before { content: '\e900'; } /* '' */
.icon-heart-1:before { content: '\e8ff'; } /* '' */
.icon-camera-2:before { content: '\e902'; } /* '' */
.icon-ok-2:before { content: '\e903'; } /* '' */
.icon-cancel-1:before { content: '\e904'; } /* '' */
.icon-plus-1:before { content: '\e905'; } /* '' */
.icon-lock-1:before { content: '\e906'; } /* '' */
.icon-lock-open-1:before { content: '\e907'; } /* '' */
.icon-eye-1:before { content: '\e908'; } /* '' */
.icon-tag-1:before { content: '\e90a'; } /* '' */
.icon-export-1:before { content: '\e909'; } /* '' */
.icon-wrench-1:before { content: '\e90b'; } /* '' */
.icon-basket-1:before { content: '\e90c'; } /* '' */
.icon-basket-alt:before { content: '\e90d'; } /* '' */
.icon-volume-up-1:before { content: '\e911'; } /* '' */
.icon-zoom-in-1:before { content: '\e90e'; } /* '' */
.icon-zoom-out-1:before { content: '\e90f'; } /* '' */
.icon-popup:before { content: '\e910'; } /* '' */
.icon-mobile-1:before { content: '\e912'; } /* '' */
.icon-mobile-alt:before { content: '\e913'; } /* '' */
.icon-tablet-1:before { content: '\e914'; } /* '' */
.icon-ipod:before { content: '\e915'; } /* '' */
.icon-cd:before { content: '\e916'; } /* '' */
.icon-easel:before { content: '\e917'; } /* '' */
.icon-chart-1:before { content: '\e918'; } /* '' */
.icon-chart-bar:before { content: '\e919'; } /* '' */
.icon-chart-pie:before { content: '\e91a'; } /* '' */
.icon-squares:before { content: '\e91b'; } /* '' */
.icon-mail-1:before { content: '\e8f2'; } /* '' */
.icon-star-1:before { content: '\e8f7'; } /* '' */
.icon-star-empty:before { content: '\e8f8'; } /* '' */
.icon-user-1:before { content: '\e8f6'; } /* '' */
.icon-users:before { content: '\e8f5'; } /* '' */
.icon-videocam-1:before { content: '\e8f3'; } /* '' */
.icon-camera-1:before { content: '\e8f4'; } /* '' */
.icon-ok-1:before { content: '\e8f9'; } /* '' */
.icon-left-2:before { content: '\ea39'; } /* '' */
.icon-right-2:before { content: '\ea38'; } /* '' */
.icon-monitor:before { content: '\e8fa'; } /* '' */
.icon-tablet:before { content: '\e8fb'; } /* '' */
.icon-mobile:before { content: '\e8fc'; } /* '' */
.icon-data-science-inv:before { content: '\e8fd'; } /* '' */
.icon-fire-1:before { content: '\e8fe'; } /* '' */
.icon-airport:before { content: '\e8e5'; } /* '' */
.icon-art-gallery:before { content: '\e8e6'; } /* '' */
.icon-bicycle:before { content: '\e8e4'; } /* '' */
.icon-cinema:before { content: '\e8e7'; } /* '' */
.icon-credit-card-1:before { content: '\e8eb'; } /* '' */
.icon-embassy:before { content: '\e8ea'; } /* '' */
.icon-fire-station:before { content: '\e8ec'; } /* '' */
.icon-harbor:before { content: '\e8f1'; } /* '' */
.icon-industrial-building:before { content: '\e8f0'; } /* '' */
.icon-library:before { content: '\e8e8'; } /* '' */
.icon-minefield:before { content: '\e8e9'; } /* '' */
.icon-post:before { content: '\e8ef'; } /* '' */
.icon-tree-1:before { content: '\e8ed'; } /* '' */
.icon-tree-2:before { content: '\e8ee'; } /* '' */
.icon-duckduckgo:before { content: '\e800'; } /* '' */
.icon-aim:before { content: '\e84a'; } /* '' */
.icon-delicious:before { content: '\e84b'; } /* '' */
.icon-paypal:before { content: '\e801'; } /* '' */
.icon-flattr:before { content: '\e84c'; } /* '' */
.icon-android:before { content: '\e853'; } /* '' */
.icon-eventful:before { content: '\e85a'; } /* '' */
.icon-smashmag:before { content: '\e85b'; } /* '' */
.icon-gplus:before { content: '\e862'; } /* '' */
.icon-wikipedia:before { content: '\e863'; } /* '' */
.icon-lanyrd:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-stumbleupon:before { content: '\e804'; } /* '' */
.icon-fivehundredpx:before { content: '\e805'; } /* '' */
.icon-pinterest:before { content: '\e806'; } /* '' */
.icon-bitcoin:before { content: '\e807'; } /* '' */
.icon-w3c:before { content: '\e808'; } /* '' */
.icon-foursquare:before { content: '\e81e'; } /* '' */
.icon-html5:before { content: '\e81f'; } /* '' */
.icon-ie:before { content: '\e820'; } /* '' */
.icon-call:before { content: '\e821'; } /* '' */
.icon-grooveshark:before { content: '\e822'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e823'; } /* '' */
.icon-forrst:before { content: '\e84d'; } /* '' */
.icon-digg:before { content: '\e852'; } /* '' */
.icon-spotify:before { content: '\e854'; } /* '' */
.icon-reddit:before { content: '\e859'; } /* '' */
.icon-guest:before { content: '\e85c'; } /* '' */
.icon-gowalla:before { content: '\e861'; } /* '' */
.icon-appstore:before { content: '\e864'; } /* '' */
.icon-blogger:before { content: '\e809'; } /* '' */
.icon-cc:before { content: '\e80a'; } /* '' */
.icon-dribbble:before { content: '\e80b'; } /* '' */
.icon-evernote:before { content: '\e80c'; } /* '' */
.icon-flickr:before { content: '\e80d'; } /* '' */
.icon-google:before { content: '\e80e'; } /* '' */
.icon-viadeo:before { content: '\e80f'; } /* '' */
.icon-instapaper:before { content: '\e824'; } /* '' */
.icon-weibo:before { content: '\e825'; } /* '' */
.icon-klout:before { content: '\e826'; } /* '' */
.icon-linkedin:before { content: '\e827'; } /* '' */
.icon-meetup:before { content: '\e828'; } /* '' */
.icon-vk:before { content: '\e829'; } /* '' */
.icon-plancast:before { content: '\e84e'; } /* '' */
.icon-disqus:before { content: '\e851'; } /* '' */
.icon-rss:before { content: '\e855'; } /* '' */
.icon-skype:before { content: '\e858'; } /* '' */
.icon-twitter:before { content: '\e85d'; } /* '' */
.icon-youtube:before { content: '\e860'; } /* '' */
.icon-vimeo:before { content: '\e865'; } /* '' */
.icon-windows:before { content: '\e810'; } /* '' */
.icon-xing:before { content: '\e811'; } /* '' */
.icon-yahoo:before { content: '\e812'; } /* '' */
.icon-chrome:before { content: '\e813'; } /* '' */
.icon-email:before { content: '\e814'; } /* '' */
.icon-macstore:before { content: '\e815'; } /* '' */
.icon-myspace:before { content: '\e816'; } /* '' */
.icon-podcast:before { content: '\e82a'; } /* '' */
.icon-amazon:before { content: '\e82b'; } /* '' */
.icon-steam:before { content: '\e82c'; } /* '' */
.icon-cloudapp:before { content: '\e82d'; } /* '' */
.icon-dropbox:before { content: '\e82e'; } /* '' */
.icon-ebay:before { content: '\e82f'; } /* '' */
.icon-facebook:before { content: '\e84f'; } /* '' */
.icon-github:before { content: '\e850'; } /* '' */
.icon-github-circled:before { content: '\e856'; } /* '' */
.icon-googleplay:before { content: '\e857'; } /* '' */
.icon-itunes:before { content: '\e85e'; } /* '' */
.icon-plurk:before { content: '\e85f'; } /* '' */
.icon-songkick:before { content: '\e866'; } /* '' */
.icon-lastfm:before { content: '\e817'; } /* '' */
.icon-gmail:before { content: '\e818'; } /* '' */
.icon-pinboard:before { content: '\e819'; } /* '' */
.icon-openid:before { content: '\e81a'; } /* '' */
.icon-quora:before { content: '\e81b'; } /* '' */
.icon-soundcloud:before { content: '\e81c'; } /* '' */
.icon-tumblr:before { content: '\e81d'; } /* '' */
.icon-eventasaurus:before { content: '\e830'; } /* '' */
.icon-wordpress:before { content: '\e831'; } /* '' */
.icon-yelp:before { content: '\e832'; } /* '' */
.icon-intensedebate:before { content: '\e833'; } /* '' */
.icon-eventbrite:before { content: '\e834'; } /* '' */
.icon-scribd:before { content: '\e835'; } /* '' */
.icon-posterous:before { content: '\e836'; } /* '' */
.icon-stripe:before { content: '\e837'; } /* '' */
.icon-opentable:before { content: '\e838'; } /* '' */
.icon-cart:before { content: '\e839'; } /* '' */
.icon-print:before { content: '\e83a'; } /* '' */
.icon-angellist:before { content: '\e83b'; } /* '' */
.icon-instagram:before { content: '\e83c'; } /* '' */
.icon-dwolla:before { content: '\e83d'; } /* '' */
.icon-appnet:before { content: '\e83e'; } /* '' */
.icon-statusnet:before { content: '\e83f'; } /* '' */
.icon-acrobat:before { content: '\e840'; } /* '' */
.icon-drupal:before { content: '\e841'; } /* '' */
.icon-buffer:before { content: '\e842'; } /* '' */
.icon-pocket:before { content: '\e843'; } /* '' */
.icon-bitbucket:before { content: '\e844'; } /* '' */
.icon-lego:before { content: '\e845'; } /* '' */
.icon-login:before { content: '\e846'; } /* '' */
.icon-stackoverflow:before { content: '\e847'; } /* '' */
.icon-hackernews:before { content: '\e848'; } /* '' */
.icon-lkdto:before { content: '\e849'; } /* '' */
.icon-mail:before { content: '\e867'; } /* '' */
.icon-heart:before { content: '\e868'; } /* '' */
.icon-star:before { content: '\e869'; } /* '' */
.icon-user:before { content: '\e86a'; } /* '' */
.icon-group:before { content: '\e86b'; } /* '' */
.icon-video:before { content: '\e86c'; } /* '' */
.icon-video-alt:before { content: '\e86d'; } /* '' */
.icon-videocam:before { content: '\e86e'; } /* '' */
.icon-picture:before { content: '\e870'; } /* '' */
.icon-camera:before { content: '\e86f'; } /* '' */
.icon-th-large:before { content: '\e871'; } /* '' */
.icon-th:before { content: '\e872'; } /* '' */
.icon-th-list:before { content: '\e873'; } /* '' */
.icon-ok:before { content: '\e874'; } /* '' */
.icon-ok-circled:before { content: '\e875'; } /* '' */
.icon-cancel:before { content: '\e876'; } /* '' */
.icon-plus:before { content: '\e877'; } /* '' */
.icon-minus:before { content: '\e878'; } /* '' */
.icon-help:before { content: '\e879'; } /* '' */
.icon-home:before { content: '\e87a'; } /* '' */
.icon-attach:before { content: '\e87b'; } /* '' */
.icon-lock:before { content: '\e87c'; } /* '' */
.icon-lock-open:before { content: '\e87d'; } /* '' */
.icon-eye:before { content: '\e87e'; } /* '' */
.icon-tag:before { content: '\e87f'; } /* '' */
.icon-tags:before { content: '\e880'; } /* '' */
.icon-bookmark:before { content: '\e881'; } /* '' */
.icon-flag:before { content: '\e882'; } /* '' */
.icon-thumbs-up:before { content: '\e883'; } /* '' */
.icon-thumbs-down:before { content: '\e884'; } /* '' */
.icon-share:before { content: '\e885'; } /* '' */
.icon-export:before { content: '\e886'; } /* '' */
.icon-pencil:before { content: '\e887'; } /* '' */
.icon-comment:before { content: '\e888'; } /* '' */
.icon-bell:before { content: '\e889'; } /* '' */
.icon-warning:before { content: '\e88a'; } /* '' */
.icon-exclamation:before { content: '\e88c'; } /* '' */
.icon-location:before { content: '\e88b'; } /* '' */
.icon-trash:before { content: '\e88d'; } /* '' */
.icon-doc:before { content: '\e88e'; } /* '' */
.icon-folder:before { content: '\e88f'; } /* '' */
.icon-folder-close:before { content: '\e890'; } /* '' */
.icon-folder-open:before { content: '\e891'; } /* '' */
.icon-phone:before { content: '\e892'; } /* '' */
.icon-cog:before { content: '\e893'; } /* '' */
.icon-cogs:before { content: '\e894'; } /* '' */
.icon-wrench:before { content: '\e895'; } /* '' */
.icon-basket:before { content: '\e896'; } /* '' */
.icon-calendar-1:before { content: '\e897'; } /* '' */
.icon-mic:before { content: '\e898'; } /* '' */
.icon-volume-down:before { content: '\e899'; } /* '' */
.icon-volume:before { content: '\e89a'; } /* '' */
.icon-volume-up:before { content: '\e89b'; } /* '' */
.icon-lightbulb:before { content: '\e89c'; } /* '' */
.icon-resize-full:before { content: '\e89d'; } /* '' */
.icon-resize-full-alt:before { content: '\e89e'; } /* '' */
.icon-resize-small:before { content: '\e89f'; } /* '' */
.icon-resize-vertical:before { content: '\e8a0'; } /* '' */
.icon-resize-horizontal:before { content: '\e8a1'; } /* '' */
.icon-move:before { content: '\e8a2'; } /* '' */
.icon-zoom-in:before { content: '\e8a3'; } /* '' */
.icon-zoom-out:before { content: '\e8a4'; } /* '' */
.icon-down-open:before { content: '\e8a5'; } /* '' */
.icon-left-open:before { content: '\e8a6'; } /* '' */
.icon-right-open:before { content: '\e8a7'; } /* '' */
.icon-up-open:before { content: '\e8a8'; } /* '' */
.icon-down:before { content: '\e8a9'; } /* '' */
.icon-left:before { content: '\e8aa'; } /* '' */
.icon-right:before { content: '\e8ab'; } /* '' */
.icon-up:before { content: '\e8ac'; } /* '' */
.icon-cw:before { content: '\e8ad'; } /* '' */
.icon-arrows-cw:before { content: '\e8ae'; } /* '' */
.icon-shuffle:before { content: '\e8af'; } /* '' */
.icon-play:before { content: '\e8b0'; } /* '' */
.icon-signal:before { content: '\e8b1'; } /* '' */
.icon-desktop:before { content: '\e8b2'; } /* '' */
.icon-laptop:before { content: '\e8b3'; } /* '' */
.icon-network:before { content: '\e8b4'; } /* '' */
.icon-inbox:before { content: '\e8b5'; } /* '' */
.icon-inbox-alt:before { content: '\e8b6'; } /* '' */
.icon-cloud:before { content: '\e8b7'; } /* '' */
.icon-flight:before { content: '\e8b8'; } /* '' */
.icon-leaf:before { content: '\e8b9'; } /* '' */
.icon-font:before { content: '\e8ba'; } /* '' */
.icon-fontsize:before { content: '\e8bb'; } /* '' */
.icon-bold:before { content: '\e8bc'; } /* '' */
.icon-italic:before { content: '\e8bd'; } /* '' */
.icon-text-height:before { content: '\e8be'; } /* '' */
.icon-text-width:before { content: '\e8bf'; } /* '' */
.icon-align-left:before { content: '\e8c0'; } /* '' */
.icon-align-center:before { content: '\e8c1'; } /* '' */
.icon-align-right:before { content: '\e8c2'; } /* '' */
.icon-align-justify:before { content: '\e8c3'; } /* '' */
.icon-list:before { content: '\e8c4'; } /* '' */
.icon-indent-left:before { content: '\e8c5'; } /* '' */
.icon-indent-right:before { content: '\e8c6'; } /* '' */
.icon-briefcase:before { content: '\e8c7'; } /* '' */
.icon-off:before { content: '\e8c8'; } /* '' */
.icon-road:before { content: '\e8c9'; } /* '' */
.icon-qrcode:before { content: '\e8ca'; } /* '' */
.icon-barcode:before { content: '\e8cb'; } /* '' */
.icon-braille:before { content: '\e8cc'; } /* '' */
.icon-book:before { content: '\e8cd'; } /* '' */
.icon-adjust:before { content: '\e8ce'; } /* '' */
.icon-tint:before { content: '\e8cf'; } /* '' */
.icon-check:before { content: '\e8d0'; } /* '' */
.icon-check-empty:before { content: '\e8d1'; } /* '' */
.icon-asterisk:before { content: '\e8d2'; } /* '' */
.icon-gift:before { content: '\e8d3'; } /* '' */
.icon-fire:before { content: '\e8d4'; } /* '' */
.icon-chart:before { content: '\e8d5'; } /* '' */
.icon-credit-card:before { content: '\e8d6'; } /* '' */
.icon-megaphone:before { content: '\e8d7'; } /* '' */
.icon-clipboard:before { content: '\e8d8'; } /* '' */
.icon-hdd:before { content: '\e8d9'; } /* '' */
.icon-key:before { content: '\e8da'; } /* '' */
.icon-tasks:before { content: '\e8db'; } /* '' */
.icon-filter:before { content: '\e8dc'; } /* '' */
.icon-gauge:before { content: '\e8dd'; } /* '' */
.icon-address-book:before { content: '\e8de'; } /* '' */
.icon-glasses:before { content: '\e8df'; } /* '' */
.icon-person:before { content: '\e8e0'; } /* '' */
.icon-adult:before { content: '\e8e1'; } /* '' */
.icon-guidedog:before { content: '\e8e3'; } /* '' */
.icon-quote-right-alt:before { content: '\ea3b'; } /* '' */