/**
 * Stylesheet for media queries
 *
 */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* ===== 1 ===== */
@media (min-width: 1200px) {
#header {
	padding: 60px 0;
}
.logo {
	text-align: left;
	float: left;
	margin: 0;
}
.selectnav, .js .selectnav {
	display: none;
}
.sf-menu {
	display: inline-block;
}
.search-header .search {
	float: right;
	display: inline-block;
}
.breadcrumbs {
	float:right;
}
.heading-404 {
	font-size: 220px;
	margin-bottom: 20px;
	line-height: 220px;
}
#footer {
	padding: 60px 0 30px 0;
}
.filter-content .col-md-3 {
	width: 24.8%;
}
}
/* ===== 2 ===== */
@media (min-width: 980px) and (max-width: 1199px) {
#header {
	padding: 60px 0;
}
.logo {
	text-align: left;
	float: left;
	margin: 0;
}
.selectnav, .js .selectnav {
	display: none;
}
.sf-menu {
	display: inline-block;
}
.search-header .search {
	float: right;
	display: inline-block;
}
.breadcrumbs {
	float:right;
}
.heading-404 {
	font-size: 220px;
	margin-bottom: 20px;
	line-height: 220px;
}
#footer {
	padding: 60px 0 30px 0;
}
.filter-content .col-md-3 {
	width: 24.8%;
}
}
/* ===== 3 ===== */
@media (min-width: 992px) {
#header {
	padding: 60px 0;
}
.logo {
	text-align: left;
	float: left;
	margin: 0;
}
.selectnav, .js .selectnav {
	display: none;
}
.sf-menu {
	display: inline-block;
}
.search-header .search {
	float: right;
	display: inline-block;
}
.breadcrumbs {
	float:right;
}
.heading-404 {
	font-size: 220px;
	margin-bottom: 20px;
	line-height: 220px;
}
#footer {
	padding: 60px 0 30px 0;
}
.filter-content .col-md-3 {
	width: 24.8%;
}
}
/* ===== 4 ===== */
@media (min-width: 768px) and (max-width: 991px) {
.js .selectnav {
	margin-top: 10px;
	width: 60% !important;
	float: right;
}
.feature-item .ribbon h5 {
	padding: 5px 10px;
}
.feature-item .ribbon h5 a, .feature-item .ribbon h5 {
	font-size: 14px;
}
.feature-box-icon {
	display: block;
	margin-right: 0;
	margin-bottom: 10px;
	float: none !important;
}
.breadcrumbs {
	float:right;
}
.filter-content .col-md-3 {
	width: 24.8%;
}
}

/* ===== 5 ===== */
@media (max-width: 767px) {
}
