/** stylesheet to override visual composer styles **/
/* Tabs / Tours
---------------------------------------------------------- */
.wpb_content_element .ui-tabs .ui-tabs-nav li.ui-state-default {
	background: #efefef;
}
.wpb_tour .ui-tabs .ui-tabs-nav li.ui-tabs-active, .wpb_content_element .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #efefef;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background-color: transparent !important;
	padding: 10px 0 0 10px;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
	background-color: transparent !important;
	padding: 0;
}
.wpb_content_element .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: #383838 !important;
}
.wpb_tour_next_prev_nav {
	display: none;
}
/* Toggle / FAQ
---------------------------------------------------------- */
.wpb_toggle, h4.wpb_toggle {
	background: none !important;
	padding-left: 0 !important;
	clear: both;
	margin-top: 0;
	font-size: 20px !important;
	font-weight: normal !important;
}
 h4.wpb_toggle:before {
	margin-right: 15px;
	font-family: 'fontello';
	content: '\e932';
}
.wpb_toggle_title_active,h4.wpb_toggle_title_active {
	background: none !important;
}
 h4.wpb_toggle_title_active:before {
	font-family: 'fontello';
	content: '\e935';
}
.wpb_toggle_content {
	padding: 0px 0px 0px 32px !important;
}
/* Accordion
---------------------------------------------------------- */
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
	background-color: #efefef !important;
}
.wpb_accordion_wrapper h3, .wpb_accordion_wrapper h3 a, .wpb_toggle {
	font-size: 16px !important;
	font-weight: normal !important;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
	background: none !important;
	width: auto !important;
	height: auto !important;
	top: .4em !important;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:after {
	font-family: 'fontello';
	content: '\e932';
	cursor: pointer;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
	background: none !important;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:after {
	font-family: 'fontello';
	content: '\e935';
	cursor: pointer;
}
